<div class="clearfix">
    <p class="text-uppercase float-left text-muted letter-spacing-wide">
        {{ with .Params.author }}
        {{ i18n "posted_by" }} {{ . }}
        {{ end }}
        {{ if isset .Params "categories" }}
        {{ if gt (len .Params.categories) 0 }}
        {{ i18n "posted_in" }} <a href="{{ $.Site.BaseURL }}categories/{{ index .Params.categories 0 | urlize | lower }}" >{{ index .Params.categories 0 }}</a>
        {{ end }}
        {{ end }}
    </p>

    <p class="float-right text-muted  text-uppercase">
        {{ if not .Date.IsZero }}
        {{ .Date.Format .Site.Params.date_format }}
        {{ end }}
    </p>
</div>
