<div class="bg-dark recent">
    <div class="container mb-5">
        <div class="row  no-gutters">
            {{ range first 4 (sort (where .Site.RegularPages "Section" "blog") "Date" "desc")}}
            <div class="col-md-3 col-ms-6">
                <a href="{{ .RelPermalink }}" class="small text-decoration-none d-block p-3">
                    <div class="text-muted">
                        {{ .Date.Format "January 2, 2006" }}
                    </div>
                    <div class="text-light">
                        {{ .Title | markdownify | truncate 100 "…"}}
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</div>