html {
    width: 100vw;
    overflow-x:hidden;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: var(--link-color);

    &:visited {
        color: var(--link-visited-color);
    }
    &:hover {
        color: var(--link-hover-color);
    }
}

/*
 *  GENERAL SITE PAGES
 */

.page-content {
    flex: 1 0 auto;
}

.page-footer {
    flex-shrink: 0;
}

.jumbotron {
    background-color: var(--header-bg-color);
    padding-top: 80px;
    padding-bottom: 40px;

    &.banner-style-small {
        padding-top: 90px;
        padding-bottom: 10px;
    }

    & .btn {
        background-color: var(--background-color);
        color: var(--link-color);
        border-color: var(--link-color);
        border-radius: 0;
        font-size: 14px;
        text-transform: uppercase;
    }
    
}

@media screen and (min-width: 576px) {
    .jumbotron {
        padding-top: 140px;
        padding-bottom: 80px;

        &.banner-style-small {
            padding-bottom: 10px;
        }
    }
}


.homepage {
    /* padding-top: 70px; */
}

/*
 *  NAVBAR
 */

.navbar-vertical {
    background-color: var(--navbar-highlight-bg-color);
}

.navbar {
    transition: height 0.3s ease-out, top 0.2s ease-out, background 0.3s ease-out;
    height: 100px;
}

.navbar.scrolled {
    background: var(--navbar-bg-color);
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    height: 66px;
}

.navbar.hidden {
    top: -100px;
}

.navbar .dropdown-menu {
    background: var(--navbar-menu-bg-color);
}

.navbar .navbar-nav .nav-link {
    color: var(--navbar-text-color);
    text-transform: uppercase;
    font-size: 16px;
}

.navbar .dropdown-item {
    color: var(--navbar-text-color);
    text-transform: uppercase;
    font-size: 16px;
}

.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus {
    color: var(--navbar-hover-text-color);
    background-color: var(--navbar-highlight-bg-color);
}

.navbar .navbar-nav .nav-item.active .nav-link:not(.btn),
.navbar .navbar-nav .nav-item .nav-link:not(.btn):focus,
.navbar .navbar-nav .nav-item .nav-link:not(.btn):hover,
.navbar .navbar-nav .nav-item .nav-link:not(.btn):active {
    color: var(--navbar-hover-text-color);
    background-color: var(--navbar-highlight-bg-color);
    border-radius: 0.25em;
}

.navbar .navbar-collapse.collapsing,
.navbar .navbar-collapse.show {
    background-color: var(--navbar-menu-bg-color);
    padding: 0px 10px;
}

/*
 *  BLOG
 */

.blog-readmore .btn {
    color: var(--link-color);
    border-color: var(--link-color);
    border-radius: 0;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

/*
 *  SNAPSHOTS
 */

 .nav-pills .nav-link {
    background-color: var(--background-color);
    color: var(--light-text-color);
    transition: background-color .2s ease;
    }
 
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--muted-background-color);
    color: rgba(0,0,0,.87);
 }

.card-header {
    & button {
        color: var(--text-color);
    }
}

/*
 *  TWEAKS
 */

.letter-spacing-wide {
    letter-spacing: 0.04em;
}

.font-md {
    font-size: 1.2em;
}