html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.5;
}

.page-content {
    flex: 1 0 auto;
}

.page-footer {
    flex-shrink: 0;
}

.jumbotron {
    padding-top: 80px;
    padding-bottom: 40px;

    &.banner-style-small {
        padding-top: 90px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 576px) {
    .jumbotron {
        padding-top: 140px;
        padding-bottom: 80px;

        &.banner-style-small {
            padding-bottom: 10px;
        }
    }
}


.homepage {
    /* background: url(/images/hourglass.svg) top left no-repeat var(--background-color);
    background-size: auto 100%; */
}

/*
.homepage:after {
    content: '';
    position: absolute;
    top: 100px;
    right: -20px;
    height: 30%;
    width: 30%;
    background: url(/images/hourglass.svg) right 0px bottom 0px no-repeat;
    z-index: 0;
    opacity: 0.4;
}
*/
/*
 *  NAVBAR
 */

.navbar {
    transition: height 0.3s ease-out, top 0.2s ease-out, background 0.3s ease-out;
    height: 100px;
}

.navbar.scrolled {
    background: var(--navbar-bg-color);
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    height: 66px;
}

.navbar.hidden {
    top: -100px;
}

.navbar .dropdown-menu {
    background: var(--navbar-menu-bg-color);
}

.navbar .navbar-nav .nav-link {
    color: var(--navbar-text-color);
}

.navbar .dropdown-item {
    color: var(--navbar-text-color);
}

.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus {
    color: var(--navbar-hover-text-color);
    background-color: var(--navbar-highlight-bg-color);
}

.navbar .navbar-nav .nav-item.active .nav-link:not(.btn),
.navbar .navbar-nav .nav-item .nav-link:not(.btn):focus,
.navbar .navbar-nav .nav-item .nav-link:not(.btn):hover,
.navbar .navbar-nav .nav-item .nav-link:not(.btn):active {
    color: var(--navbar-hover-text-color);
    background-color: var(--navbar-highlight-bg-color);
    border-radius: 0.25em;
}

.navbar .navbar-collapse.collapsing,
.navbar .navbar-collapse.show {
    background-color: var(--navbar-menu-bg-color);
    padding: 0px 10px;
}

/*
 *  TWEAKS
 */

.letter-spacing-wide {
    letter-spacing: 0.04em;
}

.font-md {
    font-size: 1.2em;
}