<div class="container">
    <h2 class="font-weight-light pb-3">KEY FEATURES</h2>
    {{ $headless := .Site.GetPage "/features/data" }}
    {{ $features := where ($headless.Resources.ByType "page") ".Params.featured" true  }}

    {{if gt (len $features) 0}}
        <div class="row py-2">
            {{ range $index, $page := first 6 (sort $features ".Params.weight") }}
            <div class="col-4 order-first ">
                <h4 class="font-weight-light">{{ $page.Params.title }}</h4>
                {{ $page.Summary }}
            </div>
            {{ end }}
        </div>
    {{ end }}
</div>