{{ define "main" }}
{{ $faq_sections := slice }}
{{ range $page := .Pages }}
{{ range $section := $page.Params.section }}
{{ $faq_sections = $faq_sections | append $section }}
{{ end }}
{{ end }}

<div class="container mt-5 faq">
    <div class="row">
        <div class="col-md-12 markdown">
            {{ .Content }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column shadow-sm mb-2" id="faq-tabs" role="tablist">
                <li class="nav-item border bg-white">
                    <a class="nav-link disabled" id="category-tab" data-toggle="tab" href="#tabcategoty" aria-controls="tabcategory" aria-selected="true">
                        {{ i18n ( print "faq_category" ) }}
                    </a>
                </li>
                {{ range $index, $section := $faq_sections | uniq }}
                <li class="nav-item border bg-white">
                    <a class="nav-link{{ if not $index }} active{{ end }}" id="{{ $section }}-tab" data-toggle="tab" href="#tab{{ $section }}" aria-controls="tab{{ $section }}"
                        aria-selected="true">
                        {{ i18n ( print "faq_" $section) }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>

        <div class="col-md-9">
            <div class="tab-content shadow-sm" id="faq-tab-content">
                {{ $top := . }}
                {{ range $section_index, $section := $faq_sections | uniq }}
                <div class="tab-pane{{ if not $section_index }} show active{{ end }}" id="tab{{ $section }}" role="tabpanel" aria-labelledby="{{ $section }}-tab">
                    <div class="accordion" id="accordion-{{ $section }}">
                        {{ range $page_index, $page := where $top.Pages ".Params.section" "intersect" (slice $section)}}
                        {{ $id := index (last 1 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}
                        <div class="card">
                            <h5 class="card-header p-1" id="accordion-tab-{{ $section }}-heading-{{$id}}">
                                <button class="btn btn-light collapsed w-100 text-left" type="button" data-toggle="collapse"
                                    data-target="#accordion-tab-{{ $section }}-content-{{$id}}" aria-expanded="false" aria-controls="accordion-tab-{{ $section }}-content-{{$id}}">
                                    <i class="fa fa-chevron-down pull-right"></i>&nbsp;
                                    {{- replace (replace (replaceRE "Q:(.+)(.|\n)*" "$1" $page.Content ) "<p>" "") "</p>" "" | safeHTML -}}
                                </button>
                            </h5>
                            <div class="collapse" id="accordion-tab-{{ $section }}-content-{{$id}}" aria-labelledby="accordion-tab-{{ $section }}-heading-{{$id}}"
                                data-parent="#accordion-{{ $section }}">
                                <div class="card-body">
                                    {{ replaceRE "(.|\n)*A:((.|\n)+)" "$2" $page.Content | safeHTML}}
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "pagescript" }}
<script>
    $(document).ready(() => {
        let url = location.href.replace(/\/$/, "");
        console.log('faq:' + url + ' ' + location.hash);
        if (location.hash) {
            const hash = url.split("#");
            const parts = hash[1].split(";");
            console.log('part 0:' + parts[0]);
            $('#faq-tabs a[href="#tab' + parts[0] + '"]').tab("show");
            if (parts[1]) {
                $('#accordion-tab-' + parts[0] + '-content-' + parts[1]).collapse("show");
            }
        }
    });
</script>
{{end}}